#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ion-content ion-toolbar {
  --background: translucent;
}

.scrollable[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

.scrollable[scrollx=true] {
  overflow-x: auto;
}

.scrollable[scrolly=true] {
  overflow-y: auto;
}

.left {
  flex: 1 1 auto;
  flex-direction: column;
}

.right {
  flex: 3 1 auto;
}